body {
  padding: 5px;
  font: 14px "roboto, Lucida Grande, Helvetica, Arial, sans-serif";
  height: 100%;
}

a {
  color: #00B7FF;
}

div {
  padding-bottom: 3px;
  padding-right: 3px;
}
button, input {
  margin: 3px;
}
container {
  padding: 2px;
}
#map {
  width: 100%;
  height: 350px;
}
@media (min-width: 500px) {
  #map {
    height: 450px;
    }  
  }
