extends layout

block content
  .container
    #locationField
      input(placeholder="Enter your address", onFocus="geolocate()" type="text")
  
    div#mapa
    script.
      var map, pos;
      var cidCampeador= {lat: -34.608153, lng: -58.443618};
      navigator.geolocation.getCurrentPosition(function(position) {
      pos = {
      lat: position.coords.latitude,
      lng: position.coords.longitude}
      });
      function initMap() {      
      map = new google.maps.Map(document.getElementById('mapa'), {
      center: cidCampeador,
      zoom: 15
      });      
      var infoWindow = new google.maps.InfoWindow({map: map});      
      infoWindow.setPosition(pos);
      infoWindow.setContent('otra cosa!');
      }
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpI1dm4HaiIrP5v4B9SNtQ6xdJxNlhwWs&v=3&callback=initMap")
    